.navbar {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar button {
  width: 30%;
  height: 30px;
  margin-top: 2%;
}
